<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"> 
<suite name="Sauce Las Test automtion regression suite"
	thread-count="3" parallel="tests" verbose="3">


	<test name="Sauce Test - FF">
		<parameter name="browser" value="chrome" />
		<parameter name="version" value="91.0" />
		<parameter name="platform" value="Windows 10" />

		<classes>
			<class name="com.tcs.testLayer.SauceTest" />
		</classes>

	</test>

	<test name="Sauce Test - Chrome">
		<parameter name="browser" value="chrome" />
		<parameter name="version" value="91.0" />
		<parameter name="platform" value="Windows 10" />

		<classes>
			<class name="com.tcs.testLayer.SauceTest" />
		</classes>

	</test>
	</suite>